$card1rotate: rotate(4.85deg) translate(0, 0);
$card2rotate: rotate(7deg) translate(2.5rem, 0);
$card3rotate: rotate(9.15deg) translate(5rem, 0);

.card {
	display: flex;
	width: 41rem;
	height: 65rem;
	padding: 2.4rem;
	align-items: center;
	border-radius: 0.5rem;
	gap: 3.2rem;
	background-color: gray;
}

.card0 {
	z-index: 3;
	background-color: $grade1;
	transform: $card1rotate !important;
}
.card1 {
	z-index: 2;
	background-color: $grade2;
	transform: $card2rotate !important;
}
.card2 {
	z-index: 1;
	background-color: $grade3;
	transform: $card3rotate !important;
}
.shadow {
	box-shadow:
		rgba(0, 0, 0, 0.25) 0 1.4rem 2.8rem,
		rgba(0, 0, 0, 0.22) 0 1rem 1rem !important;
}
.absolute {
	position: absolute;
}
// .card:not(.card1)
