:root {
	font-size: 10px;
}

* {
	color: #fff;
	font-family: SUIT;
	font-size: 1.6rem;
	font-weight: 700;
	box-sizing: border-box;
	letter-spacing: -0.02em;
	line-height: 100% * 1.5;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	background-color: $base;
	margin: 0;
}

a {
	color: inherit;
	width: inherit;
	height: inherit;
	text-decoration: none;
}

p {
	margin: 0;
}

ul {
	list-style: none;
}

#wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
}
