.wrapper {
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 148rem;
		padding: 0 20rem;

		.profile {
			* {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			.logo {
				margin-bottom: 7.5rem;
			}

			.info {
				display: flex;
				flex-direction: column;
				gap: 0.8rem;
				width: 100%;
				max-width: 38.5rem;

				.pro {
					font-size: 3rem;
					opacity: 0.8;
					border-radius: 1rem;
				}

				.name {
					position: relative;
					display: flex;
					gap: 1.5rem;

					.en {
						font-size: 4.8rem;
						font-weight: 800;
					}

					.ko {
						font-size: 2.4rem;
						opacity: 0.5;
						height: fit-content;
						padding-top: 2.6rem;
					}
				}

				.hashtag {
					display: flex;
					flex-wrap: wrap;
					// max-width: 30rem;
					opacity: 0.6;
					gap: 0.5rem 1rem;

					span {
						font-size: 2.4rem;
					}
				}
			}

			.link {
				display: flex;
				margin-top: 12rem;
				margin-bottom: 4.6rem;
				gap: 1.5rem;

				.platform {
					display: flex;
					align-items: center;
					gap: 0.8rem;

					span {
						font-size: 2rem;
					}
				}
			}
		}

		.cardpack {
			display: flex;
			position: relative;
			align-items: center;
			width: 46rem;
			height: 72.5rem;
		}
	}
}
