:root {
	font-size: 10px;
}

* {
	color: #fff;
	font-family: Pretendard;
	font-size: 1.6rem;
	font-weight: 700;
	box-sizing: border-box;
	letter-spacing: -0.01em;
}

body {
	background-color: black;
	margin: 0;
}

a {
	color: 'inherit';
	text-decoration: none;
}
